.nav_bar{
  background-color: #E37222;
  width: 100%;
  height: 17%;
  border: 3% #EEAA7B;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-left-style: none;
}
.center_pane{
  height:80%;
  background-color: #07889B;
}
.block{
  display: inline-block;
  float: center;
  width: 18%;
  padding: 15% 15% 15% 15%;
  background-color: #f0f0ee;
  border: 5% #EEAA7B;
  height:15%;
}
.more{
  display: inline-block;
  float: center;
  width: 18%;
  padding: 15% 15% 15% 15%;
  background-color: #f0f0ee;
  border: 5% #EEAA7B;
  height:5%;
}
.footer{
  background-color: #E37222;
  width: 100%;
  height: 17%;
  border: 3% #EEAA7B;
  border-top-style: solid;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
